@tailwind base;
@tailwind components;

.btn {
  @apply font-bold py-3 px-6 text-sm transition duration-300 ease-linear tracking-wider;
}
.btn:focus {
  @apply outline-none shadow-outline-primary;
}

.btn-primary {
  @apply bg-primary text-white;
}
.btn-primary:hover {
  @apply bg-primary bg-opacity-50;
}
.btn-primary:active {
  @apply transform translate-y-1;
}

.btn-outline {
  @apply border border-primary text-primary;
}
.btn-outline:hover {
  @apply bg-primary bg-opacity-25;
}
.btn-outline:active {
  @apply transform translate-y-1 bg-primary bg-opacity-25;
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateX(-5px);
}
